/* Header */

html,body{
	min-width:800px;
	font-family:'Open Sans', sans-serif;
}
input{
	font-family:'Open Sans', sans-serif;
}
.jquorum-text-input{
	color:gray !important;
	border:1px solid #ddd !important;
	padding:3px !important;
	font-family:'Open Sans', sans-serif !important;
}
.jquorum-text-input:focus{
	color:black !important;
	outline:none !important;
}
button, input[type=submit], input[type=button]{
	font-family:'Open Sans', sans-serif;
	cursor:pointer;
}
.overall-header{
	padding:10px;
	height:24px;
	font-size:20px;
}
.overall-header a{
	text-decoration:none;
}
.header-logo{
	font-size:20px;
	float:left;
	cursor:pointer;
}
.header-logo:hover{
	text-decoration:none;
}
.header-right{
	float:right;
	font-size: 11px;
	font-weight:normal;
}
#header-username{
	margin-right:5px;	
}
.header-postlogin{
	display:none;
}
.header-pages{
	padding:10px 20px 10px 20px;
	margin-top:-1px;
	height:24px;
	font-size:14px;
}
.header-pages ul{
	list-style:none;
	padding:0;
	margin:2px 0px 0px 0px;
	float:left;
}
.header-pages ul li{
	float:left;
	margin-right:15px;
	cursor:pointer;
}
.header-pages ul li:hover{
	text-decoration: underline;
}
.header-search{
	float:right;
	background-color:white;
	padding:2px;
	border:1px solid #ddd;
}
.header-search input{
	font-size:11px;
	border:none;
	outline:none;
	float:right;
}
.header-search div{
	float:left;
}
.header-breadcrumbs{
	padding:6px;
	margin:0px;
	margin-left:15px;
	font-size:12px;
	float:left;
	list-style: none;
}
.header-breadcrumbs li, .header-breadcrumbs div{
	float:left;
}
.header-breadcrumbs a{
	text-decoration:none;
}
.header-breadcrumbs a:hover{
	text-decoration:underline;
}
.header-links{
	padding:6px;
	margin:0px;
	margin-left:15px;
	font-size:12px;
	float:right;
}
.header-links li{
	float:left;
	margin-right:25px;
}
.header-links li:first-child{
	list-style:none;
}
.header-links a{
	text-decoration:none;
}
.header-links a:hover{
	text-decoration:underline;
}

/* Content */

.loader{
	width:100%;
	text-align:center;
}
.toolbar{
	padding:5px;
	font-size:11px;
}
.content-container{
	margin: 30px 10px 0px 10px;
}
.contentpanel-content{
	padding:10px;
}
.boardpanel-content{
	padding:10px;
	margin-bottom:10px;
}
.boardpanel-content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.boardpanel-content ul li{
	padding: 15px;
	font-size: 14px;
	cursor:pointer;
	font-weight:bold;
}
.boardpanel-content ul li div a{
	font-size:11px;
	margin:5px 0px 0px 0px;
	text-decoration: none;
}
.boardpanel-content ul li div a:hover{
	text-decoration: underline;
}
.subboard-title .ui-icon{
	float:left;
	margin-right:5px;
}
.subboard-right{
	float:right;
	font-size:11px;
}
.thread-title .ui-icon{
	float:left;
	margin-right:5px;
}
.thread-title-right{
	float:right;
	font-size:11px;
}

/* Dialog */

.dialogs-container{
	display:none;
}
.ui-dialog{
	font-size:14px;
}
.ui-dialog input, .ui-dialog textarea{
	color:black;
	border:1px solid #ddd;
	padding:3px;
	font-family:'Open Sans', sans-serif;
	outline:none;
}
.ui-dialog .checkbox_label{
	width: 100%;
	float:none;
}
#register-dialog{
	font-size:14px;
	text-align:center;
}
#register-dialog label{
	float:left;
	width:25%;
	margin-right:5px;
	padding-top:5px;
	text-align:right;
	font-weight:bold;
}
#register-dialog input[type=text], #register-dialog input[type=password]{
	width:65%;
}
#register-dialog textarea{
	width:65%;
	font-size:11px;
	resize:vertical;
	overflow:auto;	
}
#recaptcha_area{
    margin: 0 auto;
}
.writethread{

}
.writethread div:first-child{
	padding:1px;
}
.writethread textarea{
	width:670px;
	height:200px;
	resize:vertical;
	overflow:auto;
}
.newthread-title{
	width:630px;
}

/* Footer */

.powered-by{
	text-align:center;
	font-size:11px;
	width:100%;
}