html,body{
	background-color:#000;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
#tabs{
	margin:10px;
}
.tab-content td{
	vertical-align: top;
}
.tab-content ul{
	list-style: none;
	padding:0px;
	margin:0px;
}
.tab-content td:first-child{
	width:200px;
	border-right:1px dotted grey;
	font-size:12px;
}
.tab-content td:first-child ul li{
	cursor: pointer;
}
.tab-content td:first-child ul li:hover{
	text-decoration: underline;
}
.adminpage{
	padding:20px;
}
.loader{
	display:none;
}

#forums ul { list-style-type: none; margin: 0; padding: 0; }
#forums ul li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 14px; height: 18px; }
#forums ul li span { position: absolute; margin-left: -1.3em; }

.forum-section-button{
	width:100%;
}
.forum-section-button span{
	float:left;
	margin:0px 5px 0px -5px;
	font-size:14px;
}
#add-section-dialog input[type='text'], #add-board-dialog input[type='text']{
	width:60%;
}
#admin-editpermissions-groups li, #admin-editpermissions-permissions li, #admin-editpermissions-boards li{
	padding:5px;
	cursor:pointer;
}